@font-face {
    font-family: HindVadodara;
    src: url(../fonts/HindVadodara-Regular.ttf);
}

html, body{
    background-color: #1766AD;
    color: #ffffff;
    font-family: HindVadodara;
    height: 100%;
}

#logo{
    width: 490px;
    height: 350px;
}

.row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 600px;
    margin-top: 30px
}

.contacts a .whatsapp, .contacts a .email{
    background-color: #F3B51A;
    border-radius: 4px;
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.whatsapp img{
    width: 50px;
    height: 50px;
}

.email img{
    width: 60px;
    height: 45px;
}


a{
    text-decoration: none;
    color: #ffffff;
}
